.catalog-subtitle{
	background-color: #eee;
	font-size: 26px;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 24px;
	padding-right: 24px;
	color: #999;
}

.catalog-item{
	flex-direction: row;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 24px;
	padding-right: 24px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-width: 1px;

}

.catalog-index{
	color: #999;
	margin-right: 10px;
	font-size: 28px;
}
.catalog-play{
	color: #999;
	margin-right: 10px;
}
.catalog-title{
	margin-right: 10px;
	flex : 1;
	color: #999;
	font-size: 28px;
}
.catalog-total{
	margin-right: 10px;
	color: #999;
	font-size: 28px;
}
.catalog-down{
	color: #25aafe;
	font-size: 30px;
}
.catalog-loading{
	color: #25aafe;
	font-size: 30px;
}

.catalog-active{
	color: #25aafe;
}