.course-list{
	padding-left: 24px;
	padding-right: 24px;
}

.course-list-item{
	flex-direction: row;
	justify-content: space-around;
	padding-top: 24px;
	padding-bottom: 24px;
	border-style : solid;
	border-top-width : 1px;
	border-top-color : #dedede;
}

.bb1{
	border-top-width : 0px;
	border-bottom-width : 1px;
	border-bottom-color : #dedede;
}

.course-item-img{
	width: 295px;
	height: 164px;
}
.course-content{
	flex : 1;
	margin-left: 28px;
}
.course-item-title{
	font-size: 28px;
	lines : 2;
	height: 65px;
	text-overflow : ellipsis;
}
.course-item-text{
	margin-top: 20px;
	font-size: 22px;
	color: #999;
}
.course-item-time{
	margin-top: 75px;
	font-size: 22px;
	color: #999;
}
.no-border{
	border-top-width : 0px;
	border-bottom-width: 0px;
}