.icon-back{
	position: absolute;
	width: 66px;
	height: 66px;
	left: 26px;
	top: 26px;
}

.icon-friendship{
	position: absolute;
	width: 66px;
	height: 66px;
	right: 26px;
	top: 26px;
}

.live-block{
  width: 750px;
  height: 423px;
}