.icon-back{
	position: absolute;
	width: 66px;
	height: 66px;
	left: 26px;
	top: 26px;
}

.icon-friendship{
	position: absolute;
	width: 66px;
	height: 66px;
	right: 26px;
	top: 26px;
}

.live-block{
  width: 750px;
  height: 423px;
}

.summary-block{
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom-width: 20px;
  border-color: #F3F5F8;
  border-style: solid;
}

.summary{
  font-size: 32px;
}

.book-count{
  color: #666666;
  font-size: 24px;
  margin-top: 24px;
}

.bobr-bottom{
  border-bottom-width: 20px;
  border-color: #F3F5F8;
  border-style: solid;
}

.live-item{
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.title{
  font-size: 28px;
  color: #333;
}

.name{
  position: absolute;
  right: 68px;
  top: 24px;
  font-size: 28px;
  color: #999;
  width: 400px;
  lines: 1;
  text-overflow: ellipsis;
  text-align: right;
}

.icon-go{
  position: absolute;
  top: 18px;
  right: 24.9px;
}

.bobr{
  border-bottom-width: 1px;
  border-color: #E5E5E5;
  border-style: solid;
}

.intro{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  font-size: 30px;
}

.introduce{
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 11px;
  padding-bottom: 25px;
}

.into-text{
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rep-title{
  padding-top: 28px;
  padding-bottom: 23px;
  padding-left: 28px;
  font-size: 28px;
  color: #4A4A4A;
}

.rep-block{
  flex-direction: row;
	align-items: start;
}

.rep-list{
  height: 156px;
  flex : 1;
	flex-direction: row;
	align-items: center;
  padding-right: 24px;
}

.rep-circle{
  width: 92px;
  height: 92px;
  border-width: 2px;
  border-color: #CCCCCC;
  border-style: solid;
  border-radius: 100px;
  margin-left: 24px;
  flex-direction: row;
  align-items: center;
}

.rep-circle-act{
  border-color: #25AAFE;
}

.rep-index{
  flex: 1;
  text-align: center;
  font-size: 28px;
  color: #666;
}

.rep-index-act{
  color: #25AAFE;
}

.msg-block{
  align-items: center;
  margin-top: 148px;
}

.notStart-text{
  margin-top: 24px;
  font-size: 28px;
  color: #fff;
}

.play-btn{
  width: 96px;
  height: 96px;
  margin-top: 16px;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 750px;
  height: 423px;
  background-color: black;
  opacity: 0.5;
}