.micro-class-filter{
	flex-direction: row;
	// justify-content: space-around;
	padding-left: 46px;
	padding-right: 46px;
}
.filter-btn{
	// flex : 1;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 26px;
	// color: yellow;
}

.operation{
	flex-direction: row;
	justify-content: space-between;
	padding-left: 46px;
	padding-right: 46px;
}
.confirm-btn{
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 74px;
	padding-right: 74px;
}