.null{
  align-items: center;
  padding-top: 246px;
}

.null-pic2{
  width: 400px;
  height: 230px;
}

.null-pic{
  width: 200px;
  height: 300px;
}

.null-text{
  color: #9B9B9B;
  font-size: 28px;
  margin-top: 24px;
  text-align: center;
}